p{
  color: #ff0000
}
div{
  color: #000;
  font-size: larger;
  background-color: aqua
}
.mydiv{
  color: blueviolet;
  font-size: large;
  background-color: brown
}
.mydiv2{
  color: blueviolet;
  font-size: large;
  background-color: #ff0000
}
